.bg1 {
    background-image: url(Assets/bg10x.jpg);
    background-position: center;
    background-size: 80rem;
    background-repeat: no-repeat;
    height: 40rem;
}

header {
      background: rgba(0, 0, 0, 0.705);
      color:#fff;
      padding:10px;
      display:flex;
      justify-content:center;
      gap: 25rem;
    }


    .nav2 {
        gap: 3rem;
        display: flex;
        justify-content: center;
    }

    .nav2:hover {
      color: orange;
    }



     .nav2a {
        gap: 3rem;
        display: flex;
        justify-content: center;
        color: orange;
    }

    .nav2a:hover {
      color: white;
    }


    header nav a {
        color:#fff;
        margin:0 10px;
        text-decoration:none;
    }


    .Logo {
        height: 5rem;
        width: 5rem;
        border-radius: 2.5rem;
        margin-left: 1rem;
    }

      .btn {
        display:inline-block;
        background:#004080;
        color:#fff;
        padding:10px 15px;
        text-decoration:none;
        border-radius:4px;
    }

    .btn:hover {
      background-color: orange;
      color: blue;
    }

 .hero {
      color:#fff;
      /* padding:80px 20px; */
      text-align:center;
      /* position:relative; */
      z-index: 1;
      height: 50rem;
      /* display: flex; */
      /* flex-direction: column; */
      justify-content: center;
      /* margin-top: -20rem; */
      font-family: 'Times New Roman', Times, serif;
      font-size: 2.5rem;
    }


     .tariff {
        text-align: center;
         margin-top: 1rem;
         font-size: 3rem;
    }

/* TABLE */

    .table {
      font-family: 'Times New Roman', serif;
      background-color: #f8f8f8;
      padding: 2rem;
    }
    table {
      width: 60%;
      border-collapse: collapse;
      margin: auto;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    th, td {
      border: 1px solid #ccc;
      padding: 12px;
      text-align: center;
    }
    th {
      background-color: #004080;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }




